.image{
    height: 200px;
}

.beers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: darkslategrey;
}

div{
    background-color: rgba(137, 123, 123, 0.2);
}